  //==========================================//
 // Variables
//==========================================//
//color
$mainBlue: #169CEE;
$navy: #34495e;

$purple: #555572;
$purpleText: #66637A;
$purpleBorder: #E0E0EA;
$red: #FF395E;
$green: #00DB7C;
$darkBlue: #0E69A1;

$lightGrey: #FDFAFB;
$mediumGrey: #E0E0EA;
$blueGrey: #768C97;

$boldText: #000000;
$textColor: #333333;

$background: #ffffff;
$white: #ffffff;

//breakpoints
$largeWidth: 1020px;
$mediumWidth: 720px;
$smallWidth: 600px;
$tinyWidth: 480px;
$midgetWidth: 320px;


  //==========================================//
 // Fonts
//==========================================//
@font-face {
    font-family: 'alrightRegular';
    src: url('../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.eot');
    src: url('../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.woff') format('woff'),
         url('../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.ttf') format('truetype'),
         url('../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.svg#alrightsublpwebfontuseonly-Rg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'inputMono';
    src: url('../fonts/InputMono-Regular.eot');
    src: url('../fonts/InputMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InputMono-Regular.woff') format('woff'),
         url('../fonts/InputMono-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din';
    src: url('../fonts/DIN17SBOP-Regular.eot');
    src: url('../fonts/DIN17SBOP-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIN17SBOP-Regular.woff') format('woff'),
         url('../fonts/DIN17SBOP-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alrightBold';
    src: url('../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.eot');
    src: url('../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.woff') format('woff'),
         url('../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.ttf') format('truetype'),
         url('../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.svg#alrightsublpwebfontuseonly-Bd') format('svg');
    font-weight: 700;
    font-style: normal;
}

  //==========================================//
 // Main Structure
//==========================================//
*{
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
html, body{
    height: 100%;
    width: 100%;
    color: $textColor;
    font-size: 100%;
    background: $background;
    font-family: 'alrightRegular';
}

.container{
    max-width: $largeWidth;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

a {
    color: $mainBlue;
    text-decoration: none;
    outline: 0;
    transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1), text-shadow 0s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    position: relative;
    &:focus {
        outline: 0;
    }
    &.white{
        color: $white;
    }
}

/* Selection */
::-moz-selection{background: $mainBlue; color: $background; text-shadow: none;}
::selection{background: $mainBlue; color: $background; text-shadow: none;}


  //==========================================//
 // Typography
//==========================================//
h1, h2, h3, h4, h5, h6{

}
h1{
    font-size: 64px;
    font-family: 'alrightRegular';
    letter-spacing: 2px;
    line-height: 1.5;
    @media screen and (max-width: $largeWidth) {
        font-size: 48px;
    }
    @media screen and (max-width: $smallWidth) {
        font-size: 32px;
    }
    @media screen and (max-width: $tinyWidth) {
        font-size: 24px;
    }
}
h2{
    font-size: 20px;
    font-family: "alrightBold";
    letter-spacing: 0.2px;
    line-height: 24px;
    @media screen and (max-width: $mediumWidth) {
        font-size: 16px;
    }
    @media screen and (max-width: $tinyWidth) {
        font-size: 14px;
    }
}
h3{
    font-size: 24px;
    line-height: 32px;
    color: $mainBlue;
    font-family: 'alrightRegular';
    letter-spacing: -0.2px;
    margin: 48px 0px 16px 0px;
    span{
        font-family: 'din';
        color: $mediumGrey;
        width: 32px;
        margin-right: 16px;
        margin-left: -48px;
    }
}
h4{
    font-family: 'alrightRegular';
    font-size: 22px;
    letter-spacing: 0.3px;
    line-height: 32px;
    margin: 0px;
}
h5{
    font-family: 'din';
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $white;
    opacity: 0.6;
    margin-bottom: 12px;
    line-height: 12px;
}

p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0px 0px 24px 0px;
    color: $purpleText;
    max-width: $mediumWidth;
}

br{
    height: 24px;
}

hr{

}

button, .button{
    font-family: "din";
    border-radius: 4px;
    outline: none;
    background: $mainBlue;
    color: $white;
    border: none;
    margin-right: 32px;
    font-size: 14px;
    padding: 0px 16px;
    height: 32px;
    line-height: 32px;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    &.outline{
        background: transparent;
        border: 2px solid $mainBlue;
        color: $mainBlue;
        &:hover{
            background: $mainBlue;
            color: $white;
        }
    }
}

  //==========================================//
 // Navigation
//==========================================//
nav{
    position: absolute;
    z-index: 99;
    top: 24px;
    width: 100%;
    height: 80px;
    pointer-events: none;
    .logo{
        height: 56px;
        width: 56px;
        margin: 12px 0px;
    }
    ul{
        float: right;
        margin: 0px;
        padding: 0px;
        pointer-events: all;
        a{
            color: $white;
            text-decoration: none;
        }
        li{
            font-family: "din";
            float: left;
            line-height: 80px;
            margin: 0px 32px 0px 0px;
            padding: 0px;
            list-style: none;
            color: $white;
            font-size: 16px;
            cursor: pointer;
            letter-spacing: 0.3px;
            &:last-of-type{
                margin: 0px;
            }
        }
        ul{
            padding-left: 16px;
        }
    }
}

  //==========================================//
 // Header
//==========================================//
.header{
    height: 480px;
    width: 100%;
    overflow: hidden;
    //background: $mainBlue;
    .heroText{
        font-family: 'alrightRegular';
        color: $white;
        position: fixed;
        top: 200px;
        left: 0px;
        text-align: center;
        width: 100%;
        h1{
            text-align: center;
            color: $white;

        }
        h2{
            font-family: 'alrightRegular';
            opacity: 0.6;
            .subheadSection{
                margin: 0px 32px;
                @media screen and (max-width: $mediumWidth) {
                    margin: 0px 24px;
                }
                @media screen and (max-width: $tinyWidth) {
                    margin: 0px 12px;
                }
            }
            .icon{
                padding-right: 8px;
                position: relative;
                top: 4px;
                height: 24px;
                display: inline-block;
            }
        }
    }
}

  //==========================================//
 // Body
//==========================================//
svg{
    height: 100%;
    width: 100%;
    g{
        width: 100%;
    }
}
.wrapper{
    width: 100%;
    background: $white;
}
section{
    margin-bottom: 16px;
    float: left;
    position: relative;
    width: 100%;
    &:last-of-type{
        margin-bottom: 128px;
    }
}
.container{
    padding: 0px 32px;
}
.repo{
    margin-bottom: 32px;
    background: $white;
    float: left;
    border-radius: 4px;
    min-width: 240px;
    border: 1px solid $purpleBorder;
    //if calc not supported fallback
    width: 33.333333%;
    margin-right: 0px;
    //if calc supported make it sexy
    width: calc(33.333333% - 24px);
    margin-right: calc(36px);
    &:nth-of-type(3n){
        margin-right: 0px;
        @media screen and (max-width: $largeWidth) {
            margin-right: 36px;
        }
    }
    h4{
        color: $purpleText;
    }
}
.SDKLogo{
    height: 48px;
    position: absolute;
    top: 20px;
    right: 16px;
}
.repoTitle{
    padding: 16px;
    background: rgba($mainBlue, 0.03);
    position: relative;
    p{
        margin: 8px 0px 0px 0px;
        opacity: 0.45;
        font-size: 14px;
        font-family: "din";
        line-height: 16px;
        span{
            margin-right: 24px;
        }
        img{
            height: 14px;
            margin-right: 4px;
            position: relative;
            top: 1px;
        }
    }
}
.repoLink{
    height: 48px;
    border-top: 1px solid $purpleBorder;
    margin-top: -2px;
    position: relative;
    cursor: pointer;
    a{
        border-bottom: 1px solid $purpleBorder;
    }
    &:first-of-type{
        margin-top: 0px;
    }
    p{
        line-height: 46px;
        padding: 0px 16px;
        color: $purpleText;
    }
    &:hover{
        &:after{
            opacity: 1;
        }
    }
    &:after{
        transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        content: "";
        position: absolute;
        right: 12px;
        top: 12px;
        width: 24px;
        height: 24px;
        background: url("../img/arrowRight.svg") no-repeat center;
        background-size: 100% auto;
        opacity: 0.18;
    }
}
.repoDescription{
    border-top: 1px solid $purpleBorder;
    border-bottom: 1px solid $purpleBorder;
    height: 104px; //max 3 lines high,  80 = 2 lines
    overflow: hidden;
    text-overflow: ellipsis;
    //hide overflowing text and limit to two lines
    border-bottom: 16px $white solid;
    p{
        overflow: hidden;
        color: $purpleText;
        padding: 16px;
        margin: 0px;
        opacity: 0.5;
    }
}
.repoButton{
    padding: 16px;
    background: rgba($mainBlue, 0.03);
    border-top: 1px solid $purpleBorder;
    margin-top: -1px;
    button{
        width: 100%;
    }
}
.community{
    h3, p{
        text-align: center;
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;
    }
}

footer{
    float: left;
    height: 240px;
    width: 100%;
    svg{
        height: 240px;
    }
    .container{
        position: relative;
    }
    .socialLinks, .needHelp{
        p{
            margin-bottom: 0px;
            line-height: 32px;
        }
    }
    .socialLinks{
        position: absolute;
        top: 56px;
        right: 32px;
        width: 50%;
        z-index: 3;
        h5{
            text-align: right;
        }
        .socialIcons{
            float: right;
            margin-top: 2px;
            margin-right: -8px;
            img{
                cursor: pointer;
                margin-left: 2px;
                transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        @media screen and (max-width: $tinyWidth) {
            top: 132px;
            left: 32px;
            h5{
                text-align: left;
            }
            .socialIcons{
                float: left;
                margin-right: 0px;
                margin-left: -6px;
            }
        }
    }
    .needHelp{
        position: absolute;
        top: 56px;
        left: 32px;
        width: 50%;
        z-index: 3;
        @media screen and (max-width: $tinyWidth) {
            top: 16px;
        }
    }
}







