<nav>
    <div class="container">
        <a href="/">
            <img src="/img/logo.svg" alt="Parse logo" class="logo">
        </a>
        <ul>
            <a href="https://docs.parseplatform.org" target="_blank"><li>Docs</li></a>
            <a href="https://blog.parseplatform.org" target="_blank"><li>Blog</li></a>
            <a href="https://community.parseplatform.org" target="_blank"><li>Community</li></a>
            <a href="https://opencollective.com/parse-server" target="_blank"><li>Back Us</li></a>
        </ul>
    </div>
</nav>
