<nav>
    <div class="container">
        <a href="//"  target="_blank">
            <img src="img/logo.svg" alt="Parse logo" class="logo">
        </a>
        <ul>
            <a href="//parse.com/migration" target="_blank"><li>Migration <span class="hideOnMobile">Guide</span></li></a>
            <a href="/docs/" target="_blank"><li>Docs</li></a>
            <a href="//parse.com/blog" target="_blank"><li>Blog</li></a>
            <a href="//parse.com/help" target="_blank"><li>Help</li></a>
        </ul>
    </div>
</nav>
